.f0{position:absolute;left:calc(50% + 0.62px);width:316.571px;height:316.571px;top:calc(50% + 7.62px);transform:translate(-50%, -50%)}
.f1{position:absolute;inset:-0.47%}
.f2{display:block;max-width:none;width:100%;height:100%}
.f3{position:absolute;height:24.986px;left:calc(50% - 100.07px);top:calc(50% + 128.2px);width:29.892px;transform:translate(-50%, -50%)}
.f4{position:absolute;inset:-6% -5.02%}
.f5{position:absolute;display:flex;height:661.42px;align-items:center;justify-content:center;left:calc(50% + 0.98px);top:calc(50% + 3.5px);width:0.15px;transform:translate(-50%, -50%)}
.f6{flex:none;transform:translate(0, 0) rotate(90deg)}
.f7{height:0.15px;position:relative;width:661.42px}
.f8{position:absolute;inset:-1000.97% -0.23% -1000.95% -0.23%}
.f9{position:absolute;height:16.145px;left:calc(50% + 218.83px);top:calc(50% - 72.9px);width:5.96px;transform:translate(-50%, -50%)}
.f10{position:absolute;inset:-9.29% -25.18%}
.f11{position:absolute;height:243.884px;left:calc(50% + 185.6px);top:calc(50% + 73.58px);width:95.42px;transform:translate(-50%, -50%)}
.f12{position:absolute;inset:-0.62% -1.57%}
.f13{position:absolute;height:25.75px;left:calc(50% + 102.81px);top:calc(50% + 214.69px);width:52.092px;transform:translate(-50%, -50%)}
.f14{position:absolute;inset:-5.83% -2.88%}
.f15{position:absolute;height:465.378px;left:calc(50% - 12.12px);top:calc(50% + 7.62px);width:439.906px;transform:translate(-50%, -50%)}
.f16{position:absolute;inset:-0.32% -0.34%}
.f17{position:absolute;left:calc(50% + 0.62px);width:560.087px;height:560.087px;top:calc(50% + 7.62px);transform:translate(-50%, -50%)}
.f18{position:absolute;inset:-0.27%}
.f19{position:absolute;height:10.44px;left:calc(50% - 163.4px);top:calc(50% - 219.22px);width:14.414px;transform:translate(-50%, -50%)}
.f20{position:absolute;inset:-14.37% -10.41%}
.f21{position:absolute;left:calc(50% + 0.62px);width:654.628px;height:654.628px;top:calc(50% + 7.62px);transform:translate(-50%, -50%)}
.f22{position:absolute;inset:-0.23%}
.f23{position:absolute;height:0;left:calc(50% + 0.39px);top:50%;width:653.328px;transform:translate(-50%, -50%)}
.f24{position:absolute;inset:-1.5px -0.23%}
.f25{position:absolute;inset:2.78% 0.39% 0.53% 0.58%}
.f26{position:absolute;left:416.19px;width:30px;height:30px;top:145.2px}
.f27{position:absolute;display:block;inset:0;max-width:none;width:100%;height:100%}
.f28{position:absolute;left:476.19px;overflow:hidden;width:30px;height:30px;top:220.2px}
.f29{position:absolute;inset:20.99% 32.32% 24.81% 31.5%}
.f30{position:absolute;left:434.19px;overflow:hidden;width:30px;height:30px;top:261.2px}
.f31{position:absolute;left:412.19px;width:30px;height:30px;top:230.2px}
.f32{position:absolute;left:454.19px;overflow:hidden;width:30px;height:30px;top:175.2px}
.f33{position:absolute;display:contents;inset:18%}
.f34{position:absolute;inset:25.24% 18.06% 42.8% 60.29%;mask-position:-12.688px -2.173px, -12.688px -2.173px;mask-size:19.2px 19.2px, 19.2px 19.2px}
.f35{position:absolute;inset:18% 25.27% 60.34% 42.8%;mask-position:-7.44px 0px, -7.44px 0px;mask-size:19.2px 19.2px, 19.2px 19.2px}
.f36{position:absolute;inset:18% 42.8% 25.25% 18%;mask-position:0px 0px, 0px 0px;mask-size:19.2px 19.2px, 19.2px 19.2px}
.f37{position:absolute;inset:60.33% 42.82% 18% 25.23%;mask-position:-2.17px -12.699px, -2.17px -12.699px;mask-size:19.2px 19.2px, 19.2px 19.2px}
.f38{position:absolute;inset:42.8% 18.04% 18% 42.8%;mask-position:-7.44px -7.44px, -7.44px -7.44px;mask-size:19.2px 19.2px, 19.2px 19.2px}
.f39{position:absolute;inset:42.8% 18.04% 18% 67.56%;mask-position:-14.868px -7.44px, -14.868px -7.44px;mask-size:19.2px 19.2px, 19.2px 19.2px}
.f40{position:absolute;display:contents;inset:42% 18% 42% 67.6%}
.f41{position:absolute;inset:25.24% 18.06% 42.8% 60.29%;mask-position:-12.688px -2.173px, -12.688px -2.173px, 2.192px 5.027px;mask-size:19.2px 19.2px, 19.2px 19.2px, 4.32px 4.8px}
.f42{position:absolute;left:228.19px;overflow:hidden;width:30px;height:30px;top:259.2px}
.f43{position:absolute;inset:18%}
.f44{position:absolute;left:246.19px;overflow:hidden;width:30px;height:30px;top:64.2px}
.f45{position:absolute;left:344.19px;width:30px;height:30px;top:194.2px}
.f46{position:absolute;left:381.19px;width:30px;height:30px;top:203.2px}
.f47{position:absolute;left:344.19px;width:30px;height:30px;top:233.2px}
.f48{position:absolute;left:378.19px;width:30px;height:30px;top:250.2px}
.f49{position:absolute;left:403.19px;width:30px;height:30px;top:284.2px}
.f50{position:absolute;left:338.19px;width:30px;height:30px;top:271.2px}
.f51{position:absolute;left:369.19px;width:30px;height:30px;top:290.2px}
.f52{position:absolute;left:123.19px;width:30px;height:30px;top:366.2px}
.f53{position:absolute;left:228.19px;width:30px;height:30px;top:349.2px}
.f54{position:absolute;left:362.19px;width:30px;height:30px;top:397.2px}
.f55{position:absolute;left:188.19px;width:30px;height:30px;top:159.2px}
.f56{position:absolute;left:72.19px;width:30px;height:30px;top:224.2px}
.f57{position:absolute;left:408.19px;width:30px;height:30px;top:349.2px}
.f58{position:absolute;left:146.19px;width:30px;height:30px;top:417.2px}
.f59{position:absolute;left:134.19px;width:30px;height:30px;top:66.2px}
.f60{position:absolute;bottom:66.28%;left:calc(50% + 6.5px);top:0.3%;width:67.996px;transform:translate(-50%, 0)}
.f61{position:absolute;background:white;align-content:stretch;display:flex;align-items:center;justify-content:center;left:calc(50% + 0.26px);padding-left:4px;padding-right:4px;padding-top:2px;padding-bottom:2px;border-radius:4.689px;top:calc(50% - 99.08px);transform:translate(-50%, -50%)}
.f62{overflow-wrap:break-word;font-family:"Proxima Nova A", Arial, sans-serif;font-weight:600;line-height:24px;font-style:normal;position:relative;flex-shrink:0;color:#1d1d1d;font-size:16px;white-space:nowrap}
.f63{position:relative;flex-shrink:0;width:28.136px;height:28.136px}
.f64{position:absolute;background:white;align-content:stretch;display:flex;align-items:center;justify-content:center;left:50%;padding-left:4px;padding-right:4px;padding-top:2px;padding-bottom:2px;border-radius:4.689px;top:calc(50% - 0.39px);transform:translate(-50%, -50%)}
.f65{position:absolute;background:white;align-content:stretch;display:flex;align-items:center;justify-content:center;left:50%;padding-left:4px;padding-right:4px;padding-top:2px;padding-bottom:2px;border-radius:4.689px;top:calc(50% + 74.08px);transform:translate(-50%, -50%)}
.f66{position:absolute;background:white;align-content:stretch;display:flex;align-items:center;justify-content:center;left:50%;padding-left:4px;padding-right:4px;padding-top:2px;padding-bottom:2px;border-radius:4.689px;top:calc(50% - 50.39px);transform:translate(-50%, -50%)}
.f67{position:absolute;left:calc(50% - 160.38px);width:316.571px;height:316.571px;top:calc(50% + 167.12px);transform:translate(-50%, -50%)}
.f68{position:absolute;height:24.986px;left:calc(50% - 261.07px);top:calc(50% + 287.7px);width:29.892px;transform:translate(-50%, -50%)}
.f69{position:absolute;display:flex;height:653.178px;align-items:center;justify-content:center;left:calc(50% - 159.04px);top:calc(50% + 167.12px);width:0.15px;transform:translate(-50%, -50%)}
.f70{height:0.15px;position:relative;width:653.178px}
.f71{position:absolute;inset:-1000.82% -0.23% -1000.8% -0.23%}
.f72{position:absolute;inset:71.93% 32.06% 23.56% 66.18%}
.f73{position:absolute;inset:81.05% 28.67% -49.17% 43.18%}
.f74{position:absolute;inset:150.93% 59.48% -58.12% 25.15%}
.f75{position:absolute;inset:31.68% 36.18% -61.68% -65.95%}
.f76{position:absolute;inset:18.46% 14.7% -74.91% -79.92%}
.f77{position:absolute;inset:31.86% 143.57% 65.22% -47.82%}
.f78{position:absolute;left:calc(50% - 160.38px);width:654.628px;height:654.628px;top:calc(50% + 167.12px);transform:translate(-50%, -50%)}
.f79{position:absolute;height:0;left:calc(50% - 160.61px);top:calc(50% + 167.85px);width:653.328px;transform:translate(-50%, -50%)}
.f80{position:absolute;background:white;align-content:stretch;display:flex;align-items:center;justify-content:center;left:calc(50% + 48.5px);padding-left:8px;padding-right:8px;padding-top:4px;padding-bottom:4px;border-radius:4px;top:calc(50% - 94px);transform:translate(-50%, -50%)}
.f81{overflow-wrap:break-word;font-family:"Proxima Nova A", Arial, sans-serif;font-weight:600;line-height:normal;font-style:normal;position:relative;flex-shrink:0;font-size:24px;color:#1d1d1d;white-space:nowrap}
.f82{position:absolute;background:white;align-content:stretch;display:flex;align-items:center;justify-content:center;left:calc(50% - 25px);padding-left:8px;padding-right:8px;padding-top:4px;padding-bottom:4px;border-radius:4px;top:calc(50% + 26px);transform:translate(-50%, -50%)}
.f83{position:absolute;background:white;align-content:stretch;display:flex;align-items:center;justify-content:center;left:calc(50% - 95.5px);padding-left:8px;padding-right:8px;padding-top:4px;padding-bottom:4px;border-radius:4px;top:calc(50% + 116px);transform:translate(-50%, -50%)}
.f84{position:absolute;background:white;align-content:stretch;display:flex;align-items:center;justify-content:center;left:calc(50% + 33px);padding-left:8px;padding-right:8px;padding-top:4px;padding-bottom:4px;border-radius:4px;top:calc(50% - 28px);transform:translate(-50%, -50%)}